body {
    margin: 20px;
	font: 1.5em/1.2 sans-serif;
	text-align: center;
    background-color: #800055;
    font-size: 120%;
    color: #99CCFF;
    }

    button {
        background-color: #2118a8; /* Green */
        border-radius: 12px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }